<html>
<head>
	<title>ABM angular PHP</title>
	  
	<!--?php require_once"partes/referencias.php" ;/**/?-->
	<!--final de Estilos-->    

    <!--script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script-->
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="http://www.octavio.com.ar/favicon.ico">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/animacion.css">

	<script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
 	<script SRC="js/app.js" TYPE="text/javascript"></script>

</head>
<body ng-app="ABMangularPHP" ng-controller="controlAlta">
	<!--?php		
		require_once"partes/barraDeMenu.php";
	 ?-->

 
	<ul class="nav nav-tabs">
		<li  class="btn btn-info animated bounceInLeft" >
			<a href="index.html">
				<span class="glyphicon glyphicon-list-alt">&nbsp;</span>
				Inicio
			</a>
		</li>
		<li class="btn btn-info animated bounceInLeft" >
			<a href="formAlta.html">
				<span class="glyphicon glyphicon-plus-sign">&nbsp;</span>
				Alta
			</a>
		</li>
		<li  class="btn btn-info animated bounceInLeft" >
			<a href="formGrilla.html"> 
				<span class="glyphicon glyphicon-th" >&nbsp;</span>
					Grilla</a>
		</li>
		<span id="tituloBarra"  class="animated bounceInRight">{{DatoTest}}ABM - PHP - Angular Versión 1.0.1 &nbsp;&nbsp;&nbsp;</span>
    </ul>
		

	<div class="container">
		<div class="page-header">
			<center> <h1>Datos {{DatoTest}}</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> <!--?php echo $titulo; ?-->Formulario </h1>

			<form id="FormIngreso" name="formAlta" enctype="multipart/form-data" novalidate >

                <!-- NOMBRE -->
                <div class="form-group" ng-class="{'has-error has-feedback': !ValidarText('nombre'), 'has-success has-feedback': formAlta.nombre.$valid}">
					<label for="nombre" class="control-label">Nombre</label>
					<input type="text" class="form-control" name="nombre" id="nombre" ng-model="persona.nombre" placeholder="Ingrese Nombre"required maxlength=30/>
					<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': !ValidarText('nombre'), 'glyphicon-ok': formAlta.nombre.$valid}"></span>
					<small class="help-block" ng-if="!ValidarText('nombre')">* Este campo es obligatorio</small>			
				</div>

				<!-- APELLIDO -->
				<div class="form-group" ng-class="{'has-error has-feedback': !ValidarText('apellido'), 'has-success has-feedback': formAlta.apellido.$valid}">
					<label for="apellido" class="control-label">Apellido</label>
					<input type="text" class="form-control" name="apellido" id="apellido" ng-model="persona.apellido" placeholder="Ingrese Apellido"required maxlength=30/>
					<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': !ValidarText('apellido'), 'glyphicon-ok': formAlta.apellido.$valid}"></span>
					<small class="help-block" ng-if="!ValidarText('apellido')">* Este campo es obligatorio</small>
				</div>

				<!-- EDAD -->
				<div class="form-group" ng-class="{'has-error has-feedback': !ValidarText('edad'), 'has-success has-feedback': formAlta.edad.$valid}">
					<label for="edad" class="control-label">Edad</label>
					<input type="number" class="form-control" name="edad" id="edad" ng-model="persona.edad" placeholder="Ingrese Edad" required min=1 max=99/>
					<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': !ValidarText('edad'), 'glyphicon-ok': formAlta.edad.$valid}"></span>
					<small class="help-block" ng-if="formAlta.edad.$error.required && formAlta.edad.$dirty">* Este campo es obligatorio</small>
					<small class="help-block" ng-if="formAlta.edad.$error.number || formAlta.edad.$error.max || formAlta.edad.$error.min">* Debe ingresar un número menor entre 1 y 99</small>
				</div>

				<!-- SEXO -->
				<div class="form-group">
					<label class="control-label">Sexo (VER DE VALIDAR QUE SE ELIJA UNA OPCIÓN)</label>
					<br>
					<label class="radio-inline"><input type="radio" name="sexo" value="M" ng-model="persona.sexo" required/>Masculino</label>
					<label class="radio-inline"><input type="radio" name="sexo" value="F" ng-model="persona.sexo"/>Femenino</label>
					<pre>{{formAlta.sexo | json}}</pre>
				</div>

				<!-- E MAIL -->
				<div class="form-group" ng-class="{'has-error has-feedback': !ValidarText('correo'), 'has-success has-feedback': formAlta.correo.$valid}">
					<label for="correo" class="control-label">Correo</label>
					<input type="email" class="form-control" name="correo" id="correo" ng-model="persona.correo" placeholder="Correo electrónico" required/>
					<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': !ValidarText('correo'), 'glyphicon-ok': formAlta.correo.$valid}"></span>
					<span ng-if="!ValidarText('correo')">
					    <small class="help-block" ng-show="formAlta.correo.$error.required">* Este campo es obligatorio</small>
					    <small class="help-block" ng-show="formAlta.correo.$error.email">* El email ingresado no es válido</small>
					</span>
				</div>
				
				<!-- ESTADO CIVIL -->
				<div class="form-group">
					<label for="estadoCivil" class="control-label">Estado Civil (VER DE VALIDAR QUE SE ELIJA UNA OPCIÓN)</label>
					<select id="estadoCivil" name="estadoCivil" class="form-control" ng-model="persona.estadoCivil">
						<option value="Soltero" selected>Soltero</option>
						<option value="Casado">Casado</option>
						<option value="Divorciado">Divorciado</option>
						<option value="Viudo">Viudo</option>
					</select>
					-- Estado: {{persona.estadoCivil}} --
				</div>
				
				<!-- FECHA DE NACIMIENTO -->
				<div class="form-group" ng-class="{'has-error has-feedback': formAlta.fechaNacimiento.$touched && formAlta.fechaNacimiento.$viewValue == '' || formAlta.fechaNacimiento.$error.date, 'has-success has-feedback': formAlta.fechaNacimiento.$valid}">
					<label for="fechaNacimiento" class="control-label">Fecha de nacimiento</label>
					<input type="date" class="form-control" name="fechaNacimiento" id="fechaNacimiento" ng-model="persona.fechaNacimiento" required/>
					<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': !ValidarText('fechaNacimiento'), 'glyphicon-ok': formAlta.fechaNacimiento.$valid}"></span>
					<small class="help-block" ng-if="formAlta.fechaNacimiento.$touched && formAlta.fechaNacimiento.$viewValue == '' || formAlta.fechaNacimiento.$error.date">* Este campo es obligatorio</small>
					<!-- <pre>{{formAlta.fechaNacimiento | json}}</pre> -->
				</div>

				<!-- LENGUAJES -->
				<div class="form-group">
					<label class="control-label">Lenguajes de programación ( VEEER CÓMO HACER SI QUIERO QUE OBLIGATORIAMENTE ELIJA AL MENOS UNO )</label>
				</div>
				<div class="checkbox" name="lenguajes">
					<label class="checkbox-inline"><input type="checkbox" name="lenguajes" value="C" ng-model="persona.lenguajes[0]"/>C</label>
					<label class="checkbox-inline"><input type="checkbox" name="lenguajes" value="C#" ng-model="persona.lenguajes[1]"/>C#</label>
					<label class="checkbox-inline"><input type="checkbox" name="lenguajes" value="JS" ng-model="persona.lenguajes[2]"/>JS</label>
					<label class="checkbox-inline"><input type="checkbox" name="lenguajes" value="PHP" ng-model="persona.lenguajes[3]"/>PHP</label>
					<label class="checkbox-inline"><input type="checkbox" name="lenguajes" value="VBNet" ng-model="persona.lenguajes[4]"/>VBNet</label>
				</div>	
				<span>{{persona.lenguajes}}</span><br>

				<!-- PASSWORD -->
                <div class="form-group" ng-class="{'has-error has-feedback': !ValidarText('clave'), 'has-success has-feedback': formAlta.clave.$valid}">
					<label for="clave" class="control-label">Clave</label>
					<input type="password" class="form-control" name="clave" id="clave" ng-model="persona.clave" placeholder="Ingrese Clave" required minlength=4/>
					<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': !ValidarText('clave'), 'glyphicon-ok': formAlta.clave.$valid}"></span>
					<span ng-if="!ValidarText('clave')">
						<small class="help-block" ng-show="formAlta.clave.$error.required">* Este campo es obligatorio</small>
						<small class="help-block" ng-show="formAlta.clave.$error.minlength">* Clave demasiado corta (mínimo 4 caracteres)</small>
					</span>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': !ValidarText('confirmarClave'), 'has-success has-feedback': formAlta.confirmarClave.$valid}">
					<input type="password" class="form-control" name="confirmarClave" id="confirmarClave" ng-model="persona.confirmarClave" placeholder="Reingrese Clave" required minlength=4 ng-disabled="formAlta.clave.$invalid"/>
					<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': !ValidarText('confirmarClave'), 'glyphicon-ok': formAlta.confirmarClave.$valid}"></span>
					<small class="help-block" ng-show="formAlta.confirmarClave.$dirty && (persona.clave != persona.confirmarClave)">Las claves no coinciden</small>
				</div>

				<!--
				<input type="file" name="foto" />
				<img  src="fotos/pordefecto.png" class="fotoform" id="foto"/>
				<p style="  color: black;">*La foto se actualiza al guardar.</p>
				-->

				<button class="btn btn-info " name="guardar" ng-click="Guardar()" ng-disabled="formAlta.$invalid || (persona.clave != persona.confirmarClave)"><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</button>
				<pre>{{persona | json}}</pre>

				<input type="hidden" name="idOculto" id="id" value="" />					
				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
			</form>
		</div>
	</div>
</body>
</html>