<head>
    <meta charset="utf-8">
    <meta content="origin" name="referrer">

    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-b54806b006ba52935377cfa698af8bb2200dd03318001e967d986314f4c11d29.css" integrity="sha256-tUgGsAa6UpNTd8+mmK+LsiAN0DMYAB6WfZhjFPTBHSk=" media="all" rel="stylesheet">
    
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-8b2474817eaa20276db40d0e1b2273134aab8755285e953f318eae52da59a971.css" integrity="sha256-iyR0gX6qICdttA0OGyJzE0qrh1UoXpU/MY6uUtpZqXE=" media="all" rel="stylesheet">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width">

    <title>Login ABM</title>
    <link rel="icon" type="image/x-icon" href="img/login.png">
</head>
<body class="logged-out  env-production windows  session-authentication page-responsive min-width-0">
    
    <!--  Ícono superior  -->
    <div class="header header-logged-out width-full pt-5 pb-4" role="banner" style="text-align: center;">
        <img src="img/login.png" alt="" style="width: 60px;">
    </div>

    
    <!-- LogIn -->
    <div role="main" class="auth-form px-3" id="login">
            <form accept-charset="UTF-8" action="/session" data-form-nonce="21e3386ec2587321a941df669503f88fa9f0894b" method="post">

                <div class="auth-form-header p-0">
                    <h1>Bienvenido</h1>
                </div>

                <div class="auth-form-body mt-3">
                    <label for="usuario">Usuario</label>
                    <input type="text" autocapitalize="off" autocorrect="off" autofocus="autofocus" class="form-control input-block" id="usuario" name="usuario" tabindex="1" ng-model="datos.usuario">

                    <label for="password"> Clave
                    <!-- <a href="#" class="label-link">Forgot password?</a> -->
                    </label>
                    <input type="password" class="form-control form-control input-block" id="password" name="password" tabindex="2" ng-model="datos.clave">
                    
                    <input type="button" class="btn btn-primary btn-block" data-disable-with="Signing in…" id="btnEnviar" name="enviar" tabindex="3" value="Ingresar" ng-click="Loguear()">
                    {{datos.usuario}} | {{datos.clave}}
                </div>
            </form>

            <p class="create-account-callout mt-3" style="text-align: center;">
                No tiene cuenta?
                <a href="#" data-ga-click="Sign in, switch to sign up">Regístrese</a>.
            </p>
            <div class="modal-backdrop js-touch-events"></div>
    </div>

    <!-- Footer -->
    <div class="site-footer" role="contentinfo" style="text-align: center;">
        <ul class="site-footer-links">
            <li><a href="#" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
            <li><a href="#" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
            <li><a href="#" data-ga-click="Footer, go to security, text:security">Security</a></li>
            <li><a href="#" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
        </ul>
    </div>
</body>